body {
  background-image:url("./images/alesia-kazantceva-XLm6-fPwK5Q-unsplash 1.png"); 
  // background:url("") repeat, linear-gradient(to bottom,  #7abcff 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: url(image.jpg) no-repeat 0,4 #000000;  
  // width: 100%;
  // height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  // background-repeat:no-repeat;
  background-size: cover;
}


$fontRoboto:'Roboto', sans-serif;



