.navbar {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  border-bottom: 1px solid lightgrey;
}
.navbar__menu--right {
  margin: 10px;
  list-style: none;
  float: right;
  & li {
    display: inline;
    &:first-child a {
          font-size: x-large;
        margin: 5px;
      color: white;
    }
    &:last-child a {
          font-size: x-large;
        margin: 5px;
      color: red;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.navbar__logo {
  vertical-align: middle;
  width: 250px;
  height: 40px;
  padding: 5px;
}
